[submodule "external/svg-pan-zoom"]
	path = external/svg-pan-zoom
	url = https://github.com/cwacek/svg-pan-zoom
[submodule "external/angular-file-upload"]
	path = external/angular-file-upload
	url = https://github.com/nervgh/angular-file-upload.git
[submodule "lobster"]
	path = lobster
	url = https://github.com/invincealabs/lobster
