
.row.main{
  overflow: hidden;

  [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    }
}

.container-full {
  padding-top: 10px;
  margin: 0 15px;
}

.navbar {
  margin-bottom: 0;
}

/* This is necessary to make the editor appear. Actual height is dynamic */
.ace_editor {
height: 400px;
}

.horizontal-pad {
  margin-bottom: 10px;
}

.editor-toggle {
position: absolute;
top: 60px;
left: 20px;
z-index: 10000;
}

DIV#surface
{
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    z-index: 0;

    background: url('/static/img/bg.png');

    svg
    {
        width: 100%;
        height: 100%;
    }
}

.btn-file {
position: relative;
overflow: hidden;
}

.btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
       min-width: 100%;
       min-height: 100%;
       font-size: 999px;
       text-align: right;
filter: alpha(opacity=0);
opacity: 0;
background: red;
cursor: inherit;
display: block;
}
