
.row.main{
  overflow: hidden;

  [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    }
}

.container-full {
  margin: 0 15px;
}

.navbar {
  margin-bottom: 0;
}

.ace_editor {
height: 400px;
}

.visualizer {
  height: 100%;
}

DIV#surface
{
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    z-index: 0;

    background: url('/static/img/bg.png');

    svg
    {
        width: 100%;
        height: 100%;
    }
}
