h4 Link &nbsp
  small= link.type
.hive_link_container
  span= link.source.node.name
  if link.type == "neutral"
    i.glyphicon.glyphicon-arrow-left
    i.glyphicon.glyphicon-arrow-right
  else
    i.glyphicon.glyphicon-arrow-right
  span= link.target.node.name
