<div id='surface' class='row' 
    ng-class="{'col-md-12': analysisPaneVisible, 'col-md-8': analysisPaneVisible}">
    <div id='zoomslider'>
    <svg xmlns="http://www.w3.org/2000/svg" class="avispa">
      <defs>
      <pattern id='expandIcon' width='1' height='1'>
      <svg x='0' y='0' width='15px' height='15px' viewBox='0 0 512 512'>
        <path d="M178.375,287.812L73.094,393.094L32,352c-17.688,0-32,14.312-32,32v96c0,17.688,14.312,32,32,32h96    c17.688,0,32-14.312,32-32l-41.095-41.062l105.281-105.312L178.375,287.812z M480,0h-96c-17.688,0-32,14.328-32,32l41.094,41.094    L287.812,178.375l45.812,45.812l105.281-105.266L480,160c17.688,0,32-14.312,32-32V32C512,14.328,497.688,0,480,0z M480,352    l-41.095,41.094l-105.28-105.281l-45.812,45.812l105.281,105.312L352,480c0,17.688,14.312,32,32,32h96c17.688,0,32-14.312,32-32    v-96C512,366.312,497.688,352,480,352z M160,32c0-17.672-14.312-32-32-32H32C14.312,0,0,14.328,0,32v96c0,17.688,14.312,32,32,32    l41.094-41.078l105.281,105.266l45.812-45.812L118.906,73.094L160,32z"></path>
      </svg>
      </pattern>
      <pattern id='diagStripe' width='10' height='10' patternUnits='userSpaceOnUse'>
      <rect width="10" height="10" fill="#efefef" />
      <line x1='0' y1='0' x2='10' y2='10' stroke='#cdcdcd' stroke-width='.5'/>
      <line x1='10' y1='0' x2='0' y2='10' stroke='#cdcdcd' stroke-width='.5'/>
      </pattern>
      <marker id="Arrow"
      viewBox="0 0 10 10" refX="7" refY="5"
      markerUnits="strokeWidth"
      markerWidth="4" markerHeight="4"
      fill="#eee" stroke="#999" stroke-width="1px" stroke-dasharray="10,0"
      orient="auto">
      <path d="M 1 1 L 9 5 L 1 9 z" />
      </marker>
      </defs>
      <g class="viewport">
      <g class="groups"></g>
      <g class="links"></g>
      <g class="objects"></g>
      <g class="labels"></g>
      </g>
    </svg>
  </div>
</div>
<div ng-show='analysisPaneVisible' class='analysis-pane col-md-4 panel panel-default'>
    <div class='panel-heading'>
        <h4 class='panel-title'>From {{analysisOrigin}}</h4>
    </div>
    <ul class='list-group'>
        <li ng-repeat='(dest, data) in analysisData' class='list-group-item'>
        <h5>{{data.dest}}</h5>
        <ul id="{{dest}}" class='list-unstyled'>
            <li ng-repeat='(perm, data) in data.perms'>
            <a data-toggle='collapse'
               data-parent='#{{dest}}'
               data-target="#{{dest}}_{{perm}}">
                <i class='glyphicon glyphicon-plus'></i>
            </a>
            <span class='list-content'>
                <strong>{{perm}}</strong>
                <span class='text-muted'>
                    {{data.class}}
                </span>
                <span ng-click='highlight(data)'>
            </span>
            <ul class='collapse list-unstyled' id='{{dest}}_{{perm}}'>
                <li ng-repeat='step in data.human'>
                <em>{{step.type}}</em>
                <span ng-show='step.name'>
                    {{step.name}}
                </span>
                <span ng-show='step.class'>
                    object class {{step.class}}
                </span>

                </li>
            </ul>
            </li>
        </ul>
        </li>
    </ul>
</div>
