
<div id='surface'>
  <div id='zoomslider'>
  <svg xmlns="http://www.w3.org/2000/svg" class="avispa">
    <defs>
    <marker id="Arrow"
    viewBox="0 0 10 10" refX="7" refY="5"
    markerUnits="strokeWidth"
    markerWidth="4" markerHeight="4"
    fill="#eee" stroke="#999" stroke-width="1px" stroke-dasharray="10,0"
    orient="auto">
    <path d="M 1 1 L 9 5 L 1 9 z" />
    </marker>
    </defs>
    <g class="viewport">
    <g class="groups"></g>
    <g class="links"></g>
    <g class="objects"></g>
    <g class="labels"></g>
    </g>
  </svg>
</div>
</div>
