<editor>
  <div class="diff-toolbox-container">
    <small><strong>Select a comparison policy:</strong></small>
    <div class="row">
      <div class="col-xs-8">
        <div class="form-group">
          <div ng-hide='uploading.status'>
          <input class='form-control' id='refPolicySelect'
            ng-disabled="!policyIds.primary"
            ui-select2='list_refpolicies'
            placeholder="Select existing reference policy"
            ng-model='input.refpolicy' type='hidden'/>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <button type="button" ng-disabled='!input.refpolicy'
            class="btn btn-primary" ng-click='load()'>Load</button>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active': controls.tab == 'nodesTab'}"><a href ng-click="controls.tab = 'nodesTab'">Nodes</a></li>
        <li role="presentation" ng-class="{'active': controls.tab == 'linksTab'}"><a href ng-click="controls.tab = 'linksTab'">Links</a></li>
        <li role="presentation" ng-class="{'active': controls.tab == 'detailsTab'}"><a href ng-click="controls.tab = 'detailsTab'">Details</a></li>
      </ul>
    </div>
    <div class="row node-controls" ng-show="controls.tab == 'nodesTab'">
      <div class="col-xs-3"><changed-nodes title="Subjects" policy-ids="policyIds" nodes="graph.subjNodes" selection-change="selectionChange()"></changed-nodes></div>
      <div class="col-xs-3"><changed-nodes title="Permissions" policy-ids="policyIds" nodes="graph.permNodes" selection-change="selectionChange()"></changed-nodes></div>
      <div class="col-xs-3"><changed-nodes title="Objects" policy-ids="policyIds" nodes="graph.objNodes" selection-change="selectionChange()"></changed-nodes></div>
      <div class="col-xs-3"><changed-nodes title="Classes" policy-ids="policyIds" nodes="graph.classNodes" selection-change="selectionChange()"></changed-nodes></div>
    </div>
    <div class="row node-controls" ng-show="controls.tab == 'linksTab'">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="controls.linksVisible">
          Links are always visible
        </label>
      </div>
      <strong>Only show links that are in:</strong>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="controls.links.primary" ng-disabled="!policyIds.primary">
          {{policyIds.primary || '&lt;no ref policy selected&gt;'}}
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="controls.links.both" ng-disabled="!policyIds.both">
          {{policyIds.both || '&lt;no comparison policy selected&gt;'}}
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="controls.links.comparison" ng-disabled="!policyIds.comparison">
          {{policyIds.comparison || '&lt;no comparison policy selected&gt;'}}
        </label>
      </div>
    </div>
    <div class="row node-controls" ng-show="controls.tab == 'detailsTab'">
      <div style="max-height:300px; overflow-y:scroll">
        <table class="table table-condensed">
          <caption ng-show="!clickedNode">Click a node to see its rules</caption>
          <caption ng-show="clickedNode">Showing {{clickedNode.type}} {{clickedNode.name}}</caption>
          <thead>
            <tr>
              <th>Line</th>
              <th>Policy:module</th>
              <th>Rule</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rule in clickedNode.rules | uniquerule: 'policy':'module':'rule':'line'">
              <td>{{rule.line}}</td>
              <td>{{rule.policy}}:{{rule.module}}</td>
              <td>{{rule.rule}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</editor>
<div ng-class="{'col-md-12': editorSize == 0,
                      'viz-container': editorSize == 1}">
  <div id='visualizer' auto-height='210' auto-height-type='offset_bottom_px'>
    <div id='surface' class='row'>
      <div class='toolbox panel panel-default'>
        <div class='panel-body'>
          <div>
            <small><strong>Legend</strong></small>
          </div>
          <div>
            <svg style="width:18px; height:18px; float:left">
              <g transform="scale(1.5,1.5)translate(1,1)">
                <circle cx="5" cy="5" r="5" style="stroke:#777; fill:#fff;" />
                <path d="M 5 2 L 2 5 L 5 8 M 2 5 L 9 5" fill="none" stroke="#666" stroke-width="2" />
              </g>
            </svg>
            <p style="margin-left:22px;">&nbsp;{{policyIds.primary || '&lt;load ref policy&gt;'}}</p>
          </div>
          <div>
            <svg style="width:18px; height:18px; float:left">
              <g transform="scale(1.5,1.5)translate(1,1)">
                <circle cx="5" cy="5" r="5" style="stroke:#777; fill:#ddd;" />
              </g>
            </svg>
            <p style="margin-left:22px;">&nbsp;{{policyIds.both || '&lt;select comparison&gt;'}}</p>
          </div>
          <div>
            <svg style="width:18px; height:18px; float:left">
              <g transform="scale(1.5,1.5)translate(1,1)">
                <circle cx="5" cy="5" r="5" style="stroke:#777; fill:#fff;" />
                <path d="M 5 2 L 8 5 L 5 8 M 8 5 L 1 5" fill="none" stroke="#666" stroke-width="2" />
              </g>
            </svg>
            <p style="margin-left:22px;">&nbsp;{{policyIds.comparison || '&lt;select comparison&gt;'}}</p>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" class='diffview'>
        <defs>
          <pattern id="diff-left" x="0" y="0" width="10" height="10">
            <circle cx="5" cy="5" r="5" style="stroke: none; fill: #fff;" />
            <path d="M 5 2 L 2 5 L 5 8 M 2 5 L 9 5" fill="none" stroke="#666" stroke-width="2" />
          </pattern>
          <pattern id="diff-left-inverse" x="0" y="0" width="10" height="10">
            <circle cx="5" cy="5" r="5" style="stroke: none; fill: #666;" />
            <path d="M 5 2 L 2 5 L 5 8 M 2 5 L 9 5" fill="none" stroke="#fff" stroke-width="2" />
          </pattern>
          <pattern id="diff-right" x="0" y="0" width="10" height="10">
            <circle cx="5" cy="5" r="5" style="stroke: none; fill: #fff;" />
            <path d="M 5 2 L 8 5 L 5 8 M 8 5 L 1 5" fill="none" stroke="#666" stroke-width="2" />
          </pattern>
          <pattern id="diff-right-inverse" x="0" y="0" width="10" height="10">
            <circle cx="5" cy="5" r="5" style="stroke: none; fill: #666;" />
            <path d="M 5 2 L 8 5 L 5 8 M 8 5 L 1 5" fill="none" stroke="#fff" stroke-width="2" />
          </pattern>
        </defs>
        <g class="viewer">
          <g class="labels"></g>
          <g class="links"></g>
          <g class="subjects"></g>
          <g class="objects"></g>
          <g class="permissions"></g>
          <g class="classes"></g>
        </g>
      </svg>
    </div>
  </div>
</div>
