<div>
  {{title}}
  <div ng-show="policyIds.primary">
    <div class="small">
      <div class="policy-name"><span>{{policyIds.primary}}</span></div>
      <div class="selection-controls">
        <span ng-if="allChecked['primary']" ng-click="selectNone(policyIds.primary)" class="glyphicon glyphicon-check" ng-class="{'text-primary': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></span>
        <span ng-if="!allChecked['primary']" ng-click="selectAll(policyIds.primary)" class="glyphicon glyphicon-unchecked" ng-class="{'text-primary': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></span>
      </div>
    </div>
    <div class="selection-list">
      <label ng-repeat="node in primaryNodes" title="{{node.blockedModules.length ? 'Filtered by modules: ' + node.blockedModules.join(', ') : ''}}">
        <input type="checkbox" ng-model="node.selected" ng-disabled="node.blockedModules.length > 0" ng-change="selectionChange()">{{node.name}}
      </label>
    </div>
  </div>
  <div ng-show="policyIds.both">
    <div class="small">
      <div class="policy-name"><span>{{policyIds.both}}</span></div>
      <div class="selection-controls">
        <span ng-if="allChecked['both']" ng-click="selectNone(policyIds.both)" class="glyphicon glyphicon-check" ng-class="{'text-primary': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></span>
        <span ng-if="!allChecked['both']" ng-click="selectAll(policyIds.both)" class="glyphicon glyphicon-unchecked" ng-class="{'text-primary': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></span>
      </div>
    </div>
    <div class="selection-list">
      <label ng-repeat="node in bothNodes" title="{{node.blockedModules.length ? 'Filtered by modules: ' + node.blockedModules.join(', ') : ''}}">
        <input type="checkbox" ng-model="node.selected" ng-disabled="node.blockedModules.length > 0" ng-change="selectionChange()">{{node.name}}
      </label>
    </div>
  </div>
  <div ng-show="policyIds.comparison">
    <div class="small">
      <div class="policy-name"><span>{{policyIds.comparison}}</span></div>
      <div class="selection-controls">
        <span ng-if="allChecked['comparison']" ng-click="selectNone(policyIds.comparison)" class="glyphicon glyphicon-check" ng-class="{'text-primary': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></span>
        <span ng-if="!allChecked['comparison']" ng-click="selectAll(policyIds.comparison)" class="glyphicon glyphicon-unchecked" ng-class="{'text-primary': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></span>
      </div>
    </div>
    <div class="selection-list">
      <label ng-repeat="node in comparisonNodes" title="{{node.blockedModules.length ? 'Filtered by modules: ' + node.blockedModules.join(', ') : ''}}">
        <input type="checkbox" ng-model="node.selected" ng-disabled="node.blockedModules.length > 0" ng-change="selectionChange()">{{node.name}}
      </label>
    </div>
  </div>
</div>