<div ng-class="{'controls-container': editorSize == 1}" ng-show='editorSize > 0'>
  <div class='editor-container'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='form-group'>
          <div>
            <div class='row'>
              <div class='col-md-12'>
                <div class='pull-right'>
                  <a ng-click='resizeEditor("smaller")'>
                    <span class='glyphicon glyphicon-arrow-left'></span>
                  </a>
                </div>
                <span class='lead'>{{policy.id || "Controls"}}</span>
              </div>
            </div>
            <div class='clearfix'></div>
            <div class='row'>
              <div class='col-md-8'>
                <div class='row'>
                  <div class='col-md-12 form-horizontal'>
                    <input id='moduleSelect'
                    ui-select2='raw_module_select2'
                    ng-model='raw_view_selection' type='hidden'
                    placeholder='View module files'
                    ng-if='controls.showModuleSelect'
                    ng-disabled='policy.modules == null' />
                  </div>
                </div>
                <div class='horizontal-pad'></div>
                <div class='clearfix'></div>
              </div>
            </div>
            <div class="row" ng-transclude></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>