<editor>
  <div ng-if="!controls.policyLoaded" class="row">
    Load a ref policy to see its details and the controls
  </div>
  <div ng-if="controls.policyLoaded" class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{'active': controls.tab == 'statisticsTab'}"><a href ng-click="controls.tab = 'statisticsTab'">Statistics filter</a></li>
      <li role="presentation" ng-class="{'active': controls.tab == 'modulesTab'}"><a href ng-click="controls.tab = 'modulesTab'">Element filter</a></li>
      <li role="presentation" ng-class="{'active': controls.tab == 'denialTab'}"><a href ng-click="controls.tab = 'denialTab'">Denial filter</a></li>
      <li role="presentation" ng-class="{'active': controls.tab == 'detailsTab'}"><a href ng-click="controls.tab = 'detailsTab'">Details</a></li>
    </ul>
  </div>
  <div ng-if="controls.policyLoaded" class="row node-controls" ng-show="controls.tab == 'statisticsTab'">
    <div>
      Filter by connections
      <range-slider width="400" height="40" round="true" range="filters.degreeRange" range-change-end="filters.degreeChange(extent)"></range-slider>
    </div>
    <div>
      Filter by authority statistic
      <range-slider width="400" height="40" range="filters.authorityRange" range-change-end="filters.authorityChange(extent)"></range-slider>
    </div>
    <div>
      Filter by hub statistic
      <range-slider width="400" height="40" range="filters.hubRange" range-change-end="filters.hubChange(extent)"></range-slider>
    </div>
  </div>
  <div ng-if="controls.policyLoaded" class="row node-controls" ng-show="controls.tab == 'modulesTab'">
    <div>
      Elements
    </div>
  </div>
  <div ng-if="controls.policyLoaded" class="row node-controls" ng-show="controls.tab == 'denialTab'">
    <div>
      <button type="button" class="btn btn-default" ng-click='cancel()'>Filter by denial</button>
    </div>
  </div>
  <div ng-if="controls.policyLoaded" class="row node-controls" ng-show="controls.tab == 'detailsTab'">
    Node details
  </div>
</editor>
<div ng-class="{'col-md-12': editorSize == 0,
                      'viz-container': editorSize == 1}">
  <div id='visualizer' auto-height='210' auto-height-type='offset_bottom_px'>
    <div id='surface' class='row'>
      <div class='toolbox panel panel-default'>
        <div class='panel-body'>
          <div>
            <small><strong>Legend</strong></small>
          </div>
          <div>
            <svg style="width:18px; height:18px; float:left">
              <g transform="scale(1.5,1.5)translate(1,1)">
                <circle cx="5" cy="5" r="5" style="stroke:none; fill:#72b7f9;" />
              </g>
            </svg>
            <p style="margin-left:22px;">&nbsp;Subject</p>
          </div>
          <div>
            <svg style="width:18px; height:18px; float:left">
              <g transform="scale(1.5,1.5)translate(1,1)">
                <circle cx="5" cy="5" r="5" style="stroke:none; fill:#ffc259;" />
              </g>
            </svg>
            <p style="margin-left:22px;">&nbsp;Object.Class</p>
          </div>
        </div>
      </div>
      <div id="explore-container" style="position: absolute; width: 100%; height: 100%;"></div>
      <!--<svg xmlns="http://www.w3.org/2000/svg" class='exploreview'>
        <g class="viewer">
          <g style="font-size: 32px; fill: #999;">
            <text>Explore</text>
          </g>
        </g>
      </svg>-->
    </div>
  </div>
</div>
