<div class='modal-header'>
  <h4 class='modal-title'>Source files for {{module_name.id}}</h4>
</div>
<div class='modal-body'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h1 class='panel-title'>Type Enforcement
          <small ng-show='documents.te.text.length < documents.te.size' 
            class='text-muted pull-right'>
            Showing {{documents.te.text.length}}/{{documents.te.size}} bytes
          </small>
 </h1>
        </div>
        <div class='panel-body'>
          <pre class='pre-scrollable'><code>{{documents.te.text}}</code>
          </pre>
        </div>
      </div>

    </div>
    <div class='col-md-4'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h1 class='panel-title'>File Context
          <small ng-show='documents.fc.text.length < documents.fc.size' 
            class='text-muted pull-right'>
            Showing {{documents.fc.text.length}}/{{documents.fc.size}} bytes</small>
          </h1>
        </div>
        <div class='panel-body'>
          <pre class='pre-scrollable'><code>{{documents.fc.text}}</code>
          </pre>
        </div>
      </div>

    </div>

    <div class='col-md-4'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h1 class='panel-title'>Interface
          <small ng-show='documents.if.text.length < documents.if.size' 
            class='text-muted pull-right'>
            Showing {{documents.if.text.length}}/{{documents.if.size}} bytes</small>
 </h1>
        </div>
        <div class='panel-body'>
          <pre class='pre-scrollable'><code>{{documents.if.text}}</code>
          </pre>
        </div>
      </div>

    </div>
  </div>
</div>
