
<div class='modal-body'>
  <h4 class='modal-title'>Open Policy Module</h4>
  <div ng-show='modules'>
  <span class='help-block'>Select the module to open</span>
  <table cellspacing='0' class='table table-striped table-condensed scrollable-2'>
    <thead>
      <tr>
        <th>Module</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='(name, module) in modules' ng-click='load(name)'>
        <td>{{name}}</td>
        <td>{{module.version}}</td>
      </tr>
    </tbody>
  </table>
  </div>


  <button type="button" class="btn btn-default" ng-click='cancel()'>Cancel</button>
  <!--<button type="button" ng-disabled='form.$invalid'-->
    <!--class="btn btn-primary" ng-click='load()'>Load</button>-->
</div>
