<div class='modal-header'>
  <h4 class='modal-title' id='loadRefPolicy'>Choose Reference Policy</h4>
</div>
<div id='policyModal' class="modal-body">
  <p>Each policy must be associated with a reference policy version. You can either
  select one from those available using the dropdown or upload a new one.</p>

  <div ng-hide='uploading.status'>
    <input class='form-control' id='refPolicySelect'
    ui-select2='list_refpolicies'
    placeholder="Select existing reference policy"
    ng-model='input.refpolicy' type='hidden'/>
    <div id='refPolicyDrop' class='well well-sm text-muted drop-zone'
      file-upload-drop='upload_refpolicy'>
      Drop a zipped up reference policy source here
    </div>
  </div>

  <div ng-show='uploading.status'>
    <span class='text-info'>Uploading {{uploading.name}}</span>
    <progressbar value='uploading.status' max='100'>
  </div>
  <span class='text-warning' ng-show='fileerrors != null'>
    {{fileerrors}}
  </span>
</div>
<div class='modal-footer'>
  <button type="button" class="btn btn-default" ng-click='cancel()'>Cancel</button>
  <button type="button" ng-disabled='invalid()'
    class="btn btn-primary" ng-click='load()'>Load</button>
</div>

