{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="{{ static_url('position.js') }}"></script>
{% end %}

{% block body %}
    <div id="menubar">
      <ol>
        <li><b>V3SPA</b></li>
        <li><a href="#editor">Editor</a></li>
        <li><a href="#node">Node</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#logout">Logout</a></li>
        <li class="floatright"> &copy;2013 <b>Invincea Labs</b> </li>
      </ol>
    </div>


    <div id="editor-container">
      <div id="editor">class A () {
    port s : { position = subject } ;
    port o : { position = object } ;
}

domain a = A();
domain b = A();
domain c = A();
domain d = A();
domain e = A();
domain f = A();
domain g = A();
domain h = A();
domain i = A();

a.s --> b.o;
b.s --> c.o;
c.s --> d.o;
d.s --> e.o;
e.s --> f.o;
f.s --> g.o;
g.s --> h.o;
h.s --> i.o;
i.s --> a.o;</div></div>

<script>
    var editor = ace.edit("editor");
    //editor.setTheme("ace/theme/idle_fingers");
    editor.setTheme("ace/theme/chaos");
    editor.getSession().setMode("ace/mode/lobster");
    //$("#editor-container").width(500);
    //editor.resize();
</script>


    <div id="surface">
      <svg xmlns="http://www.w3.org/2000/svg" class="avispa">
        <defs>
         <marker id="Arrow"
           viewBox="0 0 10 10" refX="7" refY="5"
           markerUnits="strokeWidth"
           markerWidth="4" markerHeight="4"
           fill="#eee" stroke="#999" stroke-width="1px" stroke-dasharray="10,0"
           orient="auto">
          <path d="M 1 1 L 9 5 L 1 9 z" />
         </marker>
        </defs>
        <g class="pan">
         <g class="zoom">
          <g class="links"></g>
          <g class="objects"></g>
          <g class="labels"></g>
         </g>
        </g>
      </svg>
    </div>

    <div id="modal"></div>

    <div id="status_pane">
      <button id="expand">+</button>
      <b style="color: red;">0 errors</b> &nbsp; <b style="color: orange;">1 warnings</b>
    </div>
{% end %}

{% block templates %}

{% end %}
