<!DOCTYPE html>
<html>
<head>
  <title>V3SPA - Login</title>
  <link type="text/css" rel="stylesheet" href="{{ static_url("css/vespa.css") }}" />
  <script type="text/javascript" src="{{ static_url('js/jquery-2.0.3.min.js')      }}"></script>
</head>
<body>
  <form method="post">
    <input type="text"     name="username" value="admin" /><br/>
    <input type="password" name="password" value="admin" /><br/>
    <input type="submit"   name="submit"   value="Login" /><br/>
  </form>
</body>
</html>
