    #editor { 
        position: absolute;
        top: @top_height;
        right: 0;
        bottom: 0;
        left: 0;
	width: 30%;
	height: 90%;

    	background: #CCCCCC;
    	border: 2px solid @bordercolor;
    	border-right: none;
    }
