<!doctype html>
<meta charset="utf-8">
<html ng-app='vespa'>
  <head>
    <title>V3SPA: SELinux/SEAndroid Policy Analyzer</title>
    <link type="text/css" rel="stylesheet" href="css/vespa.css" />
    <link type="text/css" rel="stylesheet" href="select2/select2.css" />
    <link type="text/css" rel="stylesheet" href="select2/select2-bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="ng-tags-input/ng-tags-input.min.css" />
    <link type="text/css" rel="stylesheet" href="ng-tags-input/ng-tags-input.bootstrap.min.css" />
    <script type="text/javascript" src="ace/ace.js"></script>
    <script type='text/javascript' src="js/assets.js"> </script>
    <script src='js/vespa.js' type='text/javascript'></script>
  </head>
  <body>
    <div role='navigation' class='navbar navbar-default navbar-static-top' 
         ng-controller='navCtrl'>
         <div class='navbar-header' >
           <span class='navbar-brand' ng-class="{'loader-bg': status.outstanding}" >
             <strong>V3SPA</strong>
           </span>
      </div>
      <p class='navbar-text'>
      <strong>Reference Policy: </strong>
      <span ng-hide='refpolicy.id'>
        None
      <a ng-hide='refpolicy.id' ng-click='load_refpolicy()'>(Load)</a>
      </span>
      <span ng-show='refpolicy.id'>
        {{refpolicy.id}}
        <a ng-click='load_refpolicy()'>(switch)</a>
      </span>
      </p>
      <ul ng-show="policy.supported_docs['raw'] || policy.supported_docs['dsl']" class='nav navbar-nav'>
        <li class='dropdown'>
          <a href='#' id='visualizer-dropdown' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Visualizer Type <span class='caret'></span></a>
          <ul class='dropdown-menu'>
            <li ng-show="policy.supported_docs['raw']"><a ng-click="visualizer_type = 'explore'">Policy explorer</a></li>
            <!--<li><a ng-click="visualizer_type = 'diff'">Policy diff</a></li>-->
            <li ng-show="policy.supported_docs['dsl']"><a ng-click="visualizer_type = 'module_browser'">Module browser</a></li>
          </ul>
        </li>
      </ul>
      <p class='navbar-right navbar-text small'> &copy;2014 <b>Invincea Labs</b> </p>
    </div>
    <div class='container-full' ng-controller='ideCtrl'>
      <div ng-hide='editorSize > 0' class='editor-toggle'>
        <button type='button' class='button btn btn-sm btn-info'
          ng-click='resizeEditor("larger")'>
          Show Controls
        </button>
      </div>
      <div ng-view class='row main'>
        <!-- Put the visualization here -->
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='panel panel-default' ng-controller='consoleCtrl'>
            <div class='panel-heading'>
              <span class='lead'>Console</span>
            </div>
            <div class='panel-body' >
              <table cellspacing='0' class='table table-condensed'>
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Severity</th>
                    <th>Domain</th>
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="error in errors | orderBy:'-timestamp'" class='small'>
                    <td>{{error.timestamp | date:'medium'}}</td>
                    <td ng-click>
                      <span class='label' ng-class="errorClass(error, 'label-')">
                        {{error.level}}
                      </span>
                    </td>
                    <td>{{error.domain}}</td>
                    <td  ng-hide="error.display">
                      {{error.message[0]}}
                      </td>
                      <td ng-show="error.display"
                      <div class='full-error'>
                        <p>
                        </p>
                        <p ng-repeat="line in error.message">
                        {{line}}
                        </p>
                      </div>
                    </td>
                    <td>
                      <span ng-click="error.display = true" 
                            ng-hide="error.messages.length == 1 || error.display" class='glyphicon glyphicon-plus'></span>
                      <span ng-click="error.display = false" 
                            ng-show="error.display" class='glyphicon glyphicon-minus'></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class='clearfix'> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='avispa-context-menu'>
      <ul role='menu' class='dropdown-menu'>
      </ul>
    </div>
    <div id='hive-context-menu'>
      <ul role='menu' class='dropdown-menu'>
      </ul>
    </div>
    <div id='diff-context-menu'>
      <ul role='menu' class='dropdown-menu'>
      </ul>
    </div>
    <div ng-controller='navCtrl' ng-show='status.outstanding' id='overlay'>
      <div class='loading-icon'>Loading....
      </div>
    </div>
    <div class='popover-tooltip'>[empty]</div>
  </body>
</html>
