<!doctype html>
<html ng-app='vespa'>
  <head>
    <script src='js/jquery-combined.js' type='text/javascript'></script>
    <script src='js/bootstrap.js' type='text/javascript'></script>
    <script type="text/javascript" src="js/ace/ace.js"></script>
    <script type="text/javascript" src="js/spin.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-ace.js"></script>
    <script type="text/javascript" src="js/angular-ui-bootstrap-0.10.0.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/select2/select2.js"></script>
    <script type="text/javascript" src="js/angular-select2.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type='text/javascript' src="js/sockjs.0.3.min.js"> </script>
    <script src='js/avispa.js' type='text/javascript'></script>
    <script src='js/vespa.js' type='text/javascript'></script>
    <link type="text/css" rel="stylesheet" href="css/avispa.css" />
    <link type="text/css" rel="stylesheet" href="css/vespa.css" />
    <link type="text/css" rel="stylesheet" href="js/select2/select2.css" />
    <link type="text/css" rel="stylesheet" href="js/select2/select2-bootstrap.css" />
  </head>
  <body>
    <div role='navigation' class='navbar navbar-default navbar-static-top'>
      <div class='navbar-header'>
        <span class='navbar-brand'>V3SPA</span>
      </div>
      <ul class='nav navbar-nav'>
        <li>
        <a class='navbar-link' >Logout</a>
        </li>
      </ul>
      <p class='navbar-right navbar-text'> &copy;2014 <b>Invincea Labs</b> </p>
    </div>
    <div class='container-full' ng-controller='ideCtrl'>
      <div ng-hide='editorVisible' class='editor-toggle'>
        <button type='button' class='button btn btn-sm btn-info'
          ng-click='toggleEditor()'>
          Show Editor
        </button>
      </div>
      <div class='row main'>
        <div ng-class="{'col-md-4': editorVisible}"' ng-show='editorVisible'>
          <div class='editor-container'>
            <div class='panel panel-default'>
              <div class='panel-body'>
                <div class='form-group'>
                  <div>
                    <div class='row'>
                      <span class='lead'>Editor</span>
                      <div class='btn'
                        spinner-icon='loading'
                        opts="{
                        'length': 5,
                        'width': 2,
                        'radius': 3,
                        'speed': 0.7
                        }"
                        >
                      </div>
                      <div class='pull-right'>
                        <a href='#' ng-click='toggleEditor()'>
                          <span class='glyphicon glyphicon-remove'></span>
                        </a>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='btn-group btn-group-sm col-md-12'>
                        <button class='btn btn-default btn-sm' 
                          ng-click='new_policy()'>New Policy
                        </button>
                        <button class='btn btn-default btn-sm' 
                          ng-class="{active: loading}"
                          ng-click='check_lobster()'
                          ng-disabled='!policy.dsl'>Visualize
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class='horizontal-pad'></div>
                  <div class='row'>
                    <div class='input-group select2-bootstrap-prepend col-md-12'>
                      <span class='input-group-btn'>
                        <button class='btn btn-default btn-sm' type='button'
                          ng-click='load_policy()'>
                          Load
                        </button>
                      </span>
                      <input class='form-control' id='policySelect'
                      ui-select2='policySelectOpts'
                      ng-model='policySelected' type='hidden'/>
                    </div>
                  </div>
                  <div class='horizontal-pad'></div>
                  <div class='row'>
                    <div class='col-md-12'>
                      <div class='form-group'>
                        <label class='control-label pad-right'>Editor View</label>
                        <label class='radio-inline'>
                          <input type='radio' ng-model='policy.view' 
                                 name='editorView' value='dsl'>
                          Lobster
                        </label>
                        <label class='radio-inline'>
                          <input type='radio' ng-model='policy.view'
                                 name='editorView' value='app' />
                          Application
                        </label>
                      </div>
                    </div>
                  </div>
                  <div ng-model="policy.dsl" 
                    ui-ace="{ onLoad: aceLoaded }"
                    auto-height='0.6'
                    on-resize='$scope.editor.resize()'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-class="{'col-md-12': !editorVisible, 'col-md-8': editorVisible}">
          <div id='visualizer' ng-view auto-height='0.70'>
          </div>
        </div>
      </div>
      <div id='modal'></div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='panel panel-default' ng-controller='consoleCtrl'>
            <div class='panel-heading'>
              <h4 class='panel-title'>Console</h4>
            </div>
            <div class='panel-body' >
              <!--<div class='btn-group pull-left'>-->
              <!--<button type='button' class='btn btn-default btn-xs'>-->
              <!--<span class='glyphicon glyphicon-plus'></span>-->
              <!--</button>-->
              <!--</div>-->
              <table cellspacing='0' class='table table-condensed'>
                <tbody>
                  <tr ng-repeat="error in errors | orderBy:'-timestamp'"
                    ng-class="{'text-warning': error.level == 'error'}" class='small'>
                    <td>{{error.timestamp}}</td>
                    <td>{{error.domain}}</td>
                    <td ng-class="{'text-warning': error.level == 'error'}">{{error.message}}</td>
                  </tr>
                </tbody>
              </table>
              <!--<ul class='list-inline'>-->
              <!--<li class='text-danger'> <strong>1 error </strong></li>-->
              <!--<li class='text-warning'><strong>1 warnings</strong></li>-->
              <!--</ul>-->
              <div class='clearfix'> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type='text/ng-template' id='policyLoadModal.html'>
      <div class='modal-header'>
            <h4 class='modal-title' id='loadPolicyModalLabel'>Load Policy</h4>
          </div>
            <form name='form' no-validate>
          <div id='policyModal' class="modal-body">
          <div class='form-horizontal'>
          <div class='form-group'>
            <label class='control-label'>Name</label>
            <input type='text' placeholder='Example Policy' 
                   class='form-control' value='' name='' 
                   ng-model='input.label' required/>
          </div>
            <div class='form-group'>
            <label>Policy File</label>
            <div class='input-group'>
            <input type='text' class='form-control' readonly value='{{input.policy|filepath}}'/>
            <span class='input-group-btn'>
            <span class='btn btn-primary btn-file'>
              Browse<input id='policyFile' type='file' ng-model='input.policy' required/>
            </span>                       
            </span> 
           </div>
            </div>
          </div>
            <div class='form-group' ng-class="{'.has-warning': 'form.lobsterfile.$invalid'}">
              <label>Lobster File</label>
            <div class='input-group'>
            <input 
                   type='text' class='form-control' 
                   readonly value='{{input.lobster|filepath}}'/>
            <span class='input-group-btn'>
            <span class='btn btn-primary btn-file'>
              Browse<input id='lobsterFile' type='file' 
                     ng-model='input.lobster' required name='lobsterfile' />
            </span>                       
            </span> 
           </div>
            </div>
          </div>
            <div class='modal-footer'>
            <button type="button" class="btn btn-default" ng-click='cancel()'>Cancel</button>
            <button type="button" ng-disabled='form.$invalid'
                    class="btn btn-primary" ng-click='load()'>Load</button>
                    </div>
          </form>
    </script>
  </body>
</html>
