<!doctype html>
<meta charset="utf-8">
<html ng-app='vespa'>
  <head>
    <link type="text/css" rel="stylesheet" href="css/vespa.css" />
    <link type="text/css" rel="stylesheet" href="select2/select2.css" />
    <link type="text/css" rel="stylesheet" href="select2/select2-bootstrap.css" />
    <script type="text/javascript" src="ace/ace.js"></script>
    <script type='text/javascript' src="js/assets.js"> </script>
    <script src='js/vespa.js' type='text/javascript'></script>
  </head>
  <body>
    <div role='navigation' class='navbar navbar-default navbar-static-top' 
         ng-controller='navCtrl'>
         <div class='navbar-header' >
           <span class='navbar-brand' ng-class="{'loader-bg': have_outstanding()}" >
             <strong>V3SPA</strong>
           </span>
      </div>
      <p class='navbar-text'>
      <strong>Reference Policy: </strong>
      <span ng-hide='refpolicy.id'>
        None
      <a ng-hide='refpolicy.id' ng-click='load_refpolicy()'>(Load)</a>
      </span>
      <span ng-show='refpolicy.id'>
        {{refpolicy.id}}
        <a ng-click='load_refpolicy()'>(switch)</a>
      </span>
      </p>
      </ul>
      <p class='navbar-right navbar-text small'> &copy;2014 <b>Invincea Labs</b> </p>
    </div>
    <div class='container-full' ng-controller='ideCtrl'>
      <div ng-hide='editorSize > 0' class='editor-toggle'>
        <button type='button' class='button btn btn-sm btn-info'
          ng-click='resizeEditor("larger")'>
          Show Editor
        </button>
      </div>
      <div class='row main'>
        <div ng-class="{'col-md-4': editorSize == 1,
                        'col-md-8': editorSize == 2
          }" 
          ng-show='editorSize > 0'>
          <div class='editor-container'>
            <div class='panel panel-default'>
              <div class='panel-body'>
                <div class='form-group'>
                  <div>
                    <div class='row'>
                      <div class='col-md-12'>
                      <div class='pull-right'>
                        <a ng-click='resizeEditor("smaller")'>
                          <span class='glyphicon glyphicon-arrow-left'></span>
                        </a>
                        <a ng-hide='editorSize > 1'
                           ng-click="resizeEditor('larger')" >
                          <span class='glyphicon glyphicon-arrow-right'></span>
                        </a>
                      </div>
                      <span class='lead'>{{policy.id || "Editor"}}</span>
                      <div class='btn'
                        spinner-icon='loading'
                        opts="{
                        'length': 5,
                        'width': 2,
                        'radius': 3,
                        'speed': 0.7
                        }"
                        >
                      </div>
                      </div>
                    </div>
                    <div class='clearfix'></div>
                    <div class='row'>
                      <div class='col-md-12'>
                        <div class='btn-group btn-group-sm'>
                          <div class='btn-group btn-group-sm'>
                            <button class='btn btn-default btn-sm dropdown-toggle' data-toggle='dropdown'>
                              Policy <span class='caret'></span>
                            </button>
                            <ul role='menu' class='dropdown-menu'>
                              <li>
                              <a ng-click='new_policy()'>New </a>
                              </li>
                              <li>
                              <a ng-click='upload_policy()'>Upload </a>
                              </li>
                              <li>
                              <a ng-click='open_policy()'>Open</a>
                              </li>
                            </ul>
                          </div>
                          <button class='btn btn-default btn-sm' 
                            ng-class="{active: loading}"
                            ng-click='save_policy()'
                            ng-disabled='policy.id == null'>Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='horizontal-pad'></div>
                  <div class='clearfix'></div>
                  <div class='row'>
                    <div class='form-group'>
                      <label class='control-label pad-right'>Visualizer Type</label>
                      <div class='btn-group'>
                        <button btn-radio="'avispa'" type='button' class='btn btn-sm btn-default' active ng-model="visualizer_type">Structured</button>
                        <button btn-radio="'hive'" type='button' class='btn btn-sm btn-default' ng-model='visualizer_type'> Hive</button>
                      </div>
                    </div>
                  </div>
                  <div class='editor'>
                    <div ng-show='policy.id'>
                      <tabset id='editor_tabs'>
                      <tab id='tab_{{nm}}' ng-repeat='(nm, doc) in policy.documents' 
                           heading='{{nm}}' select='setEditorTab(nm)'>
                      </tab>
                      </tabset>
                    </div>
                    <div class='editor-box'>
                      <div ui-ace="{ onLoad: aceLoaded }"
                        auto-height="410"
                        auto-height-type='offset_bottom_px'
                        on-resize='$scope.editor.resize()'>
                      </div>
                      <div class='faded-overlay' ng-hide='policy.id'>
                        <p class='lead'>Open or create a policy from the 'Policy' menu above</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-class="{'col-md-12': editorSize == 0,
                        'col-md-8': editorSize == 1,
                        'col-md-4': editorSize == 2}">
          <div id='visualizer' ng-view auto-height='230' auto-height-type='offset_bottom_px'>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='panel panel-default' ng-controller='consoleCtrl'>
            <div class='panel-heading'>
              <span class='lead'>Console</span>
            </div>
            <div class='panel-body' >
              <table cellspacing='0' class='table table-condensed'>
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Severity</th>
                    <th>Domain</th>
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="error in errors | orderBy:'-timestamp'" class='small'>
                    <td>{{error.timestamp | date:'medium'}}</td>
                    <td ng-click>
                      <span class='label' ng-class="errorClass(error, 'label-')">
                        {{error.level}}
                      </span>
                    </td>
                    <td>{{error.domain}}</td>
                    <td  ng-hide="error.display">
                      {{error.message[0]}}
                      </td>
                      <td ng-show="error.display"
                      <div class='full-error'>
                        <p>
                        </p>
                        <p ng-repeat="line in error.message">
                        {{line}}
                        </p>
                      </div>
                    </td>
                    <td>
                      <span ng-click="error.display = true" 
                            ng-hide="error.messages.length == 1 || error.display" class='glyphicon glyphicon-plus'></span>
                      <span ng-click="error.display = false" 
                            ng-show="error.display" class='glyphicon glyphicon-minus'></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class='clearfix'> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='node-context-menu'>
      <ul role='menu' class='dropdown-menu'>
        <li>
          <a id='context-expand-links' tabindex='-1'>Expand Hidden Connections</a>
        </li>
      </ul>
    </div>
    <div id='domain-context-menu'>
      <ul role='menu' class='dropdown-menu'>
        <li>
          <a id='query_reachability' tabindex='-1'>Expand Reachable Domains</a>
        </li>
        <li>
          <a id='display_reachability' tabindex='-1'>Highlight Reachable Domains</a>
        </li>
      </ul>
    </div>
  </body>
</html>
