h4 Node &nbsp;
  small=  node.name
h5 Neutral Connections
ul
  each val in plot.connections[node.name].neutral
    li= val
h5 Inbound From
ul
  each val in plot.connections[node.name].inbound
    li= val
h5 Outbound To
ul
  each val in plot.connections[node.name].outbound
    li= val
